./trash4.py
./trash.py
./trash2.py
./trash3.py
./customer.py
./inventory.py
./logged_in.py
./main.py
./login_ui.py
./mall.py
./product.py
./shopping_cart.py
./app/e-mall-main-win.ui
./app/loadingscreen.ui
./app/main_app_ui.ui
./main_app_ui.py
./app/admin_ui.py
./app/admin_ui.ui
./app/admin_ui_og.ui
./app/buffer.py
./app/buffer.ui
./app/chart.ui
./app/charttest.py
./app/main_app_iui.py
./app/main_app_ui.py
./app/omoomr.py
./app/omorr.py
./app/trash5.py
